.form1{
    border:ridge;
    border-color:black;
    display: none;
    width: 400px;
    border-width: thick;
    
}

.close{
    color:rgb(241, 9, 9);
}


#btn{
    margin-left: 20px;
}

#btn1{
    margin-bottom: 10px;
}